In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('imdb.csv')

In [3]:
df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [4]:
df['Runtime']=df['Runtime'].str.split(' ').str[0]

In [5]:
df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [6]:
df['Runtime']=df['Runtime'].str.split(' ').str[0].astype(int)

In [7]:
df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

# Top 10 highest grossing movies

In [8]:
df['Gross']=df['Gross'].astype(str).str.replace(',','').replace('nan',pd.NA)
df['Gross'] = pd.to_numeric(df['Gross'], errors='coerce')

In [9]:
df=df.dropna(subset=['Gross'])

In [10]:
df['Gross'].astype(int)

0       28341469
1      134966411
2      534858444
3       57300000
4        4360000
         ...
990       696690
991      1378435
992    141843612
994     13780024
997     30500000
Name: Gross, Length: 831, dtype: int32

In [11]:
df['Gross'].isna().sum()

0

In [12]:
df=df.sort_values(by='Gross',ascending=False)

In [13]:
df[['Series_Title', 'Gross']].head(10)

                                   Series_Title        Gross
477  Star Wars: Episode VII - The Force Awakens  936662225.0
59                            Avengers: Endgame  858373000.0
623                                      Avatar  760507625.0
60                       Avengers: Infinity War  678815482.0
652                                     Titanic  659325379.0
357                                The Avengers  623279547.0
891                               Incredibles 2  608581744.0
2                               The Dark Knight  534858444.0
582                                   Rogue One  532177324.0
63                        The Dark Knight Rises  448139099.0

# Average IMDb rating per decade

In [14]:
df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
477,https://m.media-amazon.com/images/M/MV5BOTAzOD...,Star Wars: Episode VII - The Force Awakens,2015,U,138,"Action, Adventure, Sci-Fi",7.9,"As a new threat to the galaxy rises, Rey, a de...",80.0,J.J. Abrams,Daisy Ridley,John Boyega,Oscar Isaac,Domhnall Gleeson,860823,936662225.0
59,https://m.media-amazon.com/images/M/MV5BMTc5MD...,Avengers: Endgame,2019,UA,181,"Action, Adventure, Drama",8.4,After the devastating events of Avengers: Infi...,78.0,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Evans,Mark Ruffalo,809955,858373000.0
623,https://m.media-amazon.com/images/M/MV5BMTYwOT...,Avatar,2009,UA,162,"Action, Adventure, Fantasy",7.8,A paraplegic Marine dispatched to the moon Pan...,83.0,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver,Michelle Rodriguez,1118998,760507625.0
60,https://m.media-amazon.com/images/M/MV5BMjMxNj...,Avengers: Infinity War,2018,UA,149,"Action, Adventure, Sci-Fi",8.4,The Avengers and their allies must be willing ...,68.0,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,834477,678815482.0
652,https://m.media-amazon.com/images/M/MV5BMDdmZG...,Titanic,1997,UA,194,"Drama, Romance",7.8,A seventeen-year-old aristocrat falls in love ...,75.0,James Cameron,Leonardo DiCaprio,Kate Winslet,Billy Zane,Kathy Bates,1046089,659325379.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,https://m.media-amazon.com/images/M/MV5BMTgzMT...,Ajeossi,2010,R,119,"Action, Crime, Drama",7.8,A quiet pawnshop keeper with a violent past ta...,NaN,Jeong-beom Lee,Won Bin,Sae-ron Kim,Tae-hoon Kim,Hee-won Kim,62848,6460.0
926,https://m.media-amazon.com/images/M/MV5BMTI5Mz...,Dead Man's Shoes,2004,NaN,90,"Crime, Drama, Thriller",7.6,A disaffected soldier returns to his hometown ...,52.0,Shane Meadows,Paddy Considine,Gary Stretch,Toby Kebbell,Stuart Wolfenden,49728,6013.0
624,https://m.media-amazon.com/images/M/MV5BMTg4OD...,Mr. Nobody,2009,R,141,"Drama, Fantasy, Romance",7.8,A boy stands on a station platform as a train ...,63.0,Jaco Van Dormael,Jared Leto,Sarah Polley,Diane Kruger,Linh Dan Pham,216421,3600.0
390,https://m.media-amazon.com/images/M/MV5BMTk2Mj...,Knockin' on Heaven's Door,1997,NaN,87,"Action, Crime, Comedy",8.0,Two terminally ill patients escape from a hosp...,NaN,Thomas Jahn,Til Schweiger,Jan Josef Liefers,Thierry van Werveke,Moritz Bleibtreu,27721,3296.0
630,https://m.media-amazon.com/images/M/MV5BMTU4NT...,Adams Ã¦bler,2005,R,94,"Comedy, Crime, Drama",7.8,A neo-nazi sentenced to community service at a...,51.0,Anders Thomas Jensen,Ulrich Thomsen,Mads Mikkelsen,Nicolas Bro,Paprika Steen,45717,1305.0

In [15]:
 
# df['Gross'] = df['Gross'].replace(['N/A', 'nan', 'None', '', 'PG'], pd.NA)
df['Released_Year']=pd.to_numeric(df['Released_Year'], errors='coerce')
df=df.dropna(subset=['Released_Year'])

In [16]:
df['Released_Year'].astype(int)

477    2015
59     2019
623    2009
60     2018
652    1997
       ...
605    2010
926    2004
624    2009
390    1997
630    2005
Name: Released_Year, Length: 830, dtype: int32

In [17]:
df['Released_Year'].max()

2019.0

In [18]:
df['Released_Year'].min()

1921.0

In [19]:
# i=1920
# while(i<2020):
#     mean=df.query(f'Released_Year>={i} and Released_Year<={i+10}')['IMDB_Rating'].mean()
#     print(f'IMDb Average of Movies from {i}-{i+10}: {mean}')
#     i+=10

In [20]:
df['Decade'] = (df['Released_Year'] // 10) * 10

C:\Users\Tejas Kharade\AppData\Local\Temp\ipykernel_36664\1427555053.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Decade'] = (df['Released_Year'] // 10) * 10

In [21]:
df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Decade
477,https://m.media-amazon.com/images/M/MV5BOTAzOD...,Star Wars: Episode VII - The Force Awakens,2015.0,U,138,"Action, Adventure, Sci-Fi",7.9,"As a new threat to the galaxy rises, Rey, a de...",80.0,J.J. Abrams,Daisy Ridley,John Boyega,Oscar Isaac,Domhnall Gleeson,860823,936662225.0,2010.0
59,https://m.media-amazon.com/images/M/MV5BMTc5MD...,Avengers: Endgame,2019.0,UA,181,"Action, Adventure, Drama",8.4,After the devastating events of Avengers: Infi...,78.0,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Evans,Mark Ruffalo,809955,858373000.0,2010.0
623,https://m.media-amazon.com/images/M/MV5BMTYwOT...,Avatar,2009.0,UA,162,"Action, Adventure, Fantasy",7.8,A paraplegic Marine dispatched to the moon Pan...,83.0,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver,Michelle Rodriguez,1118998,760507625.0,2000.0
60,https://m.media-amazon.com/images/M/MV5BMjMxNj...,Avengers: Infinity War,2018.0,UA,149,"Action, Adventure, Sci-Fi",8.4,The Avengers and their allies must be willing ...,68.0,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,834477,678815482.0,2010.0
652,https://m.media-amazon.com/images/M/MV5BMDdmZG...,Titanic,1997.0,UA,194,"Drama, Romance",7.8,A seventeen-year-old aristocrat falls in love ...,75.0,James Cameron,Leonardo DiCaprio,Kate Winslet,Billy Zane,Kathy Bates,1046089,659325379.0,1990.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,https://m.media-amazon.com/images/M/MV5BMTgzMT...,Ajeossi,2010.0,R,119,"Action, Crime, Drama",7.8,A quiet pawnshop keeper with a violent past ta...,NaN,Jeong-beom Lee,Won Bin,Sae-ron Kim,Tae-hoon Kim,Hee-won Kim,62848,6460.0,2010.0
926,https://m.media-amazon.com/images/M/MV5BMTI5Mz...,Dead Man's Shoes,2004.0,NaN,90,"Crime, Drama, Thriller",7.6,A disaffected soldier returns to his hometown ...,52.0,Shane Meadows,Paddy Considine,Gary Stretch,Toby Kebbell,Stuart Wolfenden,49728,6013.0,2000.0
624,https://m.media-amazon.com/images/M/MV5BMTg4OD...,Mr. Nobody,2009.0,R,141,"Drama, Fantasy, Romance",7.8,A boy stands on a station platform as a train ...,63.0,Jaco Van Dormael,Jared Leto,Sarah Polley,Diane Kruger,Linh Dan Pham,216421,3600.0,2000.0
390,https://m.media-amazon.com/images/M/MV5BMTk2Mj...,Knockin' on Heaven's Door,1997.0,NaN,87,"Action, Crime, Comedy",8.0,Two terminally ill patients escape from a hosp...,NaN,Thomas Jahn,Til Schweiger,Jan Josef Liefers,Thierry van Werveke,Moritz Bleibtreu,27721,3296.0,1990.0
630,https://m.media-amazon.com/images/M/MV5BMTU4NT...,Adams Ã¦bler,2005.0,R,94,"Comedy, Crime, Drama",7.8,A neo-nazi sentenced to community service at a...,51.0,Anders Thomas Jensen,Ulrich Thomsen,Mads Mikkelsen,Nicolas Bro,Paprika Steen,45717,1305.0,2000.0

In [22]:
type(df.groupby(['Decade'])['IMDB_Rating'].mean())

pandas.core.series.Series

In [23]:
df_decade_rating = df.groupby('Decade', as_index=False)['IMDB_Rating'].mean() # converts to dataframe

In [24]:
df_decade_rating

   Decade  IMDB_Rating
0  1920.0     8.162500
1  1930.0     8.092308
2  1940.0     8.080000
3  1950.0     8.119355
4  1960.0     7.969388
5  1970.0     7.976271
6  1980.0     7.945000
7  1990.0     7.966429
8  2000.0     7.898140
9  2010.0     7.918140

In [25]:
df_decade_rating.describe()

            Decade  IMDB_Rating
count    10.000000    10.000000
mean   1965.000000     8.012753
std      30.276504     0.092301
min    1920.000000     7.898140
25%    1942.500000     7.950357
50%    1965.000000     7.972829
75%    1987.500000     8.089231
max    2010.000000     8.162500

# Count of Directors that directed Top 250 movies

In [26]:
df

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Decade
477,https://m.media-amazon.com/images/M/MV5BOTAzOD...,Star Wars: Episode VII - The Force Awakens,2015.0,U,138,"Action, Adventure, Sci-Fi",7.9,"As a new threat to the galaxy rises, Rey, a de...",80.0,J.J. Abrams,Daisy Ridley,John Boyega,Oscar Isaac,Domhnall Gleeson,860823,936662225.0,2010.0
59,https://m.media-amazon.com/images/M/MV5BMTc5MD...,Avengers: Endgame,2019.0,UA,181,"Action, Adventure, Drama",8.4,After the devastating events of Avengers: Infi...,78.0,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Evans,Mark Ruffalo,809955,858373000.0,2010.0
623,https://m.media-amazon.com/images/M/MV5BMTYwOT...,Avatar,2009.0,UA,162,"Action, Adventure, Fantasy",7.8,A paraplegic Marine dispatched to the moon Pan...,83.0,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver,Michelle Rodriguez,1118998,760507625.0,2000.0
60,https://m.media-amazon.com/images/M/MV5BMjMxNj...,Avengers: Infinity War,2018.0,UA,149,"Action, Adventure, Sci-Fi",8.4,The Avengers and their allies must be willing ...,68.0,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,834477,678815482.0,2010.0
652,https://m.media-amazon.com/images/M/MV5BMDdmZG...,Titanic,1997.0,UA,194,"Drama, Romance",7.8,A seventeen-year-old aristocrat falls in love ...,75.0,James Cameron,Leonardo DiCaprio,Kate Winslet,Billy Zane,Kathy Bates,1046089,659325379.0,1990.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,https://m.media-amazon.com/images/M/MV5BMTgzMT...,Ajeossi,2010.0,R,119,"Action, Crime, Drama",7.8,A quiet pawnshop keeper with a violent past ta...,NaN,Jeong-beom Lee,Won Bin,Sae-ron Kim,Tae-hoon Kim,Hee-won Kim,62848,6460.0,2010.0
926,https://m.media-amazon.com/images/M/MV5BMTI5Mz...,Dead Man's Shoes,2004.0,NaN,90,"Crime, Drama, Thriller",7.6,A disaffected soldier returns to his hometown ...,52.0,Shane Meadows,Paddy Considine,Gary Stretch,Toby Kebbell,Stuart Wolfenden,49728,6013.0,2000.0
624,https://m.media-amazon.com/images/M/MV5BMTg4OD...,Mr. Nobody,2009.0,R,141,"Drama, Fantasy, Romance",7.8,A boy stands on a station platform as a train ...,63.0,Jaco Van Dormael,Jared Leto,Sarah Polley,Diane Kruger,Linh Dan Pham,216421,3600.0,2000.0
390,https://m.media-amazon.com/images/M/MV5BMTk2Mj...,Knockin' on Heaven's Door,1997.0,NaN,87,"Action, Crime, Comedy",8.0,Two terminally ill patients escape from a hosp...,NaN,Thomas Jahn,Til Schweiger,Jan Josef Liefers,Thierry van Werveke,Moritz Bleibtreu,27721,3296.0,1990.0
630,https://m.media-amazon.com/images/M/MV5BMTU4NT...,Adams Ã¦bler,2005.0,R,94,"Comedy, Crime, Drama",7.8,A neo-nazi sentenced to community service at a...,51.0,Anders Thomas Jensen,Ulrich Thomsen,Mads Mikkelsen,Nicolas Bro,Paprika Steen,45717,1305.0,2000.0

In [27]:
df2=df.head(250)

In [28]:
df2

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Decade
477,https://m.media-amazon.com/images/M/MV5BOTAzOD...,Star Wars: Episode VII - The Force Awakens,2015.0,U,138,"Action, Adventure, Sci-Fi",7.9,"As a new threat to the galaxy rises, Rey, a de...",80.0,J.J. Abrams,Daisy Ridley,John Boyega,Oscar Isaac,Domhnall Gleeson,860823,936662225.0,2010.0
59,https://m.media-amazon.com/images/M/MV5BMTc5MD...,Avengers: Endgame,2019.0,UA,181,"Action, Adventure, Drama",8.4,After the devastating events of Avengers: Infi...,78.0,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Evans,Mark Ruffalo,809955,858373000.0,2010.0
623,https://m.media-amazon.com/images/M/MV5BMTYwOT...,Avatar,2009.0,UA,162,"Action, Adventure, Fantasy",7.8,A paraplegic Marine dispatched to the moon Pan...,83.0,James Cameron,Sam Worthington,Zoe Saldana,Sigourney Weaver,Michelle Rodriguez,1118998,760507625.0,2000.0
60,https://m.media-amazon.com/images/M/MV5BMjMxNj...,Avengers: Infinity War,2018.0,UA,149,"Action, Adventure, Sci-Fi",8.4,The Avengers and their allies must be willing ...,68.0,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,834477,678815482.0,2010.0
652,https://m.media-amazon.com/images/M/MV5BMDdmZG...,Titanic,1997.0,UA,194,"Drama, Romance",7.8,A seventeen-year-old aristocrat falls in love ...,75.0,James Cameron,Leonardo DiCaprio,Kate Winslet,Billy Zane,Kathy Bates,1046089,659325379.0,1990.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
398,https://m.media-amazon.com/images/M/MV5BZTM3Zj...,Scent of a Woman,1992.0,UA,156,Drama,8.0,A prep school student needing money agrees to ...,59.0,Martin Brest,Al Pacino,Chris O'Donnell,James Rebhorn,Gabrielle Anwar,263918,63895607.0,1990.0
807,https://m.media-amazon.com/images/M/MV5BZWFjYm...,The Fifth Element,1997.0,UA,126,"Action, Adventure, Sci-Fi",7.7,"In the colorful future, a cab driver unwitting...",52.0,Luc Besson,Bruce Willis,Milla Jovovich,Gary Oldman,Ian Holm,434125,63540020.0,1990.0
542,https://m.media-amazon.com/images/M/MV5BMmNhZm...,Patton,1970.0,U,172,"Biography, Drama, War",7.9,The World War II phase of the career of contro...,91.0,Franklin J. Schaffner,George C. Scott,Karl Malden,Stephen Young,Michael Strong,93741,61700000.0,1970.0
373,https://m.media-amazon.com/images/M/MV5BODEyYm...,Cinderella Man,2005.0,UA,144,"Biography, Drama, History",8.0,"The story of James J. Braddock, a supposedly w...",69.0,Ron Howard,Russell Crowe,RenÃ©e Zellweger,Craig Bierko,Paul Giamatti,176151,61649911.0,2000.0
681,https://m.media-amazon.com/images/M/MV5BODRlMj...,The Goonies,1985.0,U,114,"Adventure, Comedy, Family",7.8,A group of young misfits called The Goonies di...,62.0,Richard Donner,Sean Astin,Josh Brolin,Jeff Cohen,Corey Feldman,244430,61503218.0,1980.0

In [29]:
df2['Director'].unique

<bound method Series.unique of 477              J.J. Abrams
59             Anthony Russo
623            James Cameron
60             Anthony Russo
652            James Cameron
               ...
398             Martin Brest
807               Luc Besson
542    Franklin J. Schaffner
373               Ron Howard
681           Richard Donner
Name: Director, Length: 250, dtype: object>

In [30]:
df_clean = df2.dropna(subset=['Director'])

In [31]:
# director_counts=df_clean['Director'].value_counts() --> series 
director_counts=df_clean['Director'].value_counts().reset_index() # --> DataFrame

In [32]:
all_stars=pd.concat([df['Star1'],df['Star2'],df['Star3'],df['Star4']])
all_stars=all_stars.dropna()
actor_counts=all_stars.value_counts().reset_index()

In [33]:
director_counts

                  Director  count
0         Steven Spielberg     12
1        Christopher Nolan      6
2        Quentin Tarantino      6
3             Ridley Scott      5
4            David Fincher      5
..                     ...    ...
147          Kevin Costner      1
148             Rich Moore      1
149        Bob Persichetti      1
150         Victor Fleming      1
151  Franklin J. Schaffner      1

[152 rows x 2 columns]

# Actors with their movie count

In [34]:
actor_counts

                  index  count
0        Robert De Niro     17
1             Tom Hanks     13
2             Al Pacino     13
3             Brad Pitt     12
4     Leonardo DiCaprio     11
...                 ...    ...
2261      Benno FÃ¼rmann      1
2262     Rene Bitorajac      1
2263      Elena Lyadova      1
2264      Noriko Hidaka      1
2265      Linh Dan Pham      1

[2266 rows x 2 columns]

In [35]:
actor_counts.columns=['Actor', 'Movie Count']

In [36]:
actor_counts

                  Actor  Movie Count
0        Robert De Niro           17
1             Tom Hanks           13
2             Al Pacino           13
3             Brad Pitt           12
4     Leonardo DiCaprio           11
...                 ...          ...
2261      Benno FÃ¼rmann            1
2262     Rene Bitorajac            1
2263      Elena Lyadova            1
2264      Noriko Hidaka            1
2265      Linh Dan Pham            1

[2266 rows x 2 columns]

# Top genre with highest IMDb rating

In [45]:
df_clean = df.dropna(subset=['Genre', 'IMDB_Rating'])
df_clean['Genre'] = df_clean['Genre'].str.split(',')
df_exploded = df_clean.explode('Genre')
df_exploded['Genre'] = df_exploded['Genre'].str.strip() # To remove any whitespaces if left
genre_avg = df_exploded.groupby('Genre', as_index=False)['IMDB_Rating'].mean()
top_genres = genre_avg.sort_values(by='IMDB_Rating', ascending=False)
print(top_genres.head(10))

        Genre  IMDB_Rating
20    Western     8.037500
19        War     8.018919
9   Film-Noir     8.009091
16     Sci-Fi     7.991803
14    Mystery     7.969048
1   Adventure     7.965089
5       Crime     7.959649
6       Drama     7.954530
0      Action     7.946795
10    History     7.933333

In [38]:
df_exploded

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,Decade
477,https://m.media-amazon.com/images/M/MV5BOTAzOD...,Star Wars: Episode VII - The Force Awakens,2015.0,U,138,Action,7.9,"As a new threat to the galaxy rises, Rey, a de...",80.0,J.J. Abrams,Daisy Ridley,John Boyega,Oscar Isaac,Domhnall Gleeson,860823,936662225.0,2010.0
477,https://m.media-amazon.com/images/M/MV5BOTAzOD...,Star Wars: Episode VII - The Force Awakens,2015.0,U,138,Adventure,7.9,"As a new threat to the galaxy rises, Rey, a de...",80.0,J.J. Abrams,Daisy Ridley,John Boyega,Oscar Isaac,Domhnall Gleeson,860823,936662225.0,2010.0
477,https://m.media-amazon.com/images/M/MV5BOTAzOD...,Star Wars: Episode VII - The Force Awakens,2015.0,U,138,Sci-Fi,7.9,"As a new threat to the galaxy rises, Rey, a de...",80.0,J.J. Abrams,Daisy Ridley,John Boyega,Oscar Isaac,Domhnall Gleeson,860823,936662225.0,2010.0
59,https://m.media-amazon.com/images/M/MV5BMTc5MD...,Avengers: Endgame,2019.0,UA,181,Action,8.4,After the devastating events of Avengers: Infi...,78.0,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Evans,Mark Ruffalo,809955,858373000.0,2010.0
59,https://m.media-amazon.com/images/M/MV5BMTc5MD...,Avengers: Endgame,2019.0,UA,181,Adventure,8.4,After the devastating events of Avengers: Infi...,78.0,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Evans,Mark Ruffalo,809955,858373000.0,2010.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,https://m.media-amazon.com/images/M/MV5BMTk2Mj...,Knockin' on Heaven's Door,1997.0,NaN,87,Crime,8.0,Two terminally ill patients escape from a hosp...,NaN,Thomas Jahn,Til Schweiger,Jan Josef Liefers,Thierry van Werveke,Moritz Bleibtreu,27721,3296.0,1990.0
390,https://m.media-amazon.com/images/M/MV5BMTk2Mj...,Knockin' on Heaven's Door,1997.0,NaN,87,Comedy,8.0,Two terminally ill patients escape from a hosp...,NaN,Thomas Jahn,Til Schweiger,Jan Josef Liefers,Thierry van Werveke,Moritz Bleibtreu,27721,3296.0,1990.0
630,https://m.media-amazon.com/images/M/MV5BMTU4NT...,Adams Ã¦bler,2005.0,R,94,Comedy,7.8,A neo-nazi sentenced to community service at a...,51.0,Anders Thomas Jensen,Ulrich Thomsen,Mads Mikkelsen,Nicolas Bro,Paprika Steen,45717,1305.0,2000.0
630,https://m.media-amazon.com/images/M/MV5BMTU4NT...,Adams Ã¦bler,2005.0,R,94,Crime,7.8,A neo-nazi sentenced to community service at a...,51.0,Anders Thomas Jensen,Ulrich Thomsen,Mads Mikkelsen,Nicolas Bro,Paprika Steen,45717,1305.0,2000.0
630,https://m.media-amazon.com/images/M/MV5BMTU4NT...,Adams Ã¦bler,2005.0,R,94,Drama,7.8,A neo-nazi sentenced to community service at a...,51.0,Anders Thomas Jensen,Ulrich Thomsen,Mads Mikkelsen,Nicolas Bro,Paprika Steen,45717,1305.0,2000.0

# Correlation between IMDb_rating and Runtime

In [39]:
df['Runtime'] = pd.to_numeric(df['Runtime'], errors='coerce')
df['IMDB_Rating'] = pd.to_numeric(df['IMDB_Rating'], errors='coerce')

C:\Users\Tejas Kharade\AppData\Local\Temp\ipykernel_36664\2721504210.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Runtime'] = pd.to_numeric(df['Runtime'], errors='coerce')
C:\Users\Tejas Kharade\AppData\Local\Temp\ipykernel_36664\2721504210.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['IMDB_Rating'] = pd.to_numeric(df['IMDB_Rating'], errors='coerce')

In [40]:
df_clean = df.dropna(subset=['Runtime', 'IMDB_Rating'])

In [41]:
correlation = df_clean['Runtime'].corr(df_clean['IMDB_Rating'])
print(f"Correlation between Runtime and IMDb Rating: {correlation:.3f}")

Correlation between Runtime and IMDb Rating: 0.248

Here 0.248 is a weak corelation which interprets that there is some relationship, but it's not strong